.blennd-recent-posts {
  margin-bottom: 50px;
  position: relative;
}

.blennd-recent-posts article {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  transition: 1s ease-in-out;
}

.blennd-recent-posts .transparent {
  opacity: 0;
  transition: 1s ease-in-out;
}

.blennd-recent-posts article > * {
  flex-basis: 100%;
}

.blennd-recent-posts .post-thumbnail {
  margin: 0 !important;
}

.blennd-recent-posts .post-thumbnail img {
  height: auto;
  width: 100%;
}

.blennd-recent-posts .post-thumbnail:before,
.blennd-recent-posts .post-thumbnail:after {
  display: none !important;
}

.blennd-recent-posts .post-content {
  margin-left: 1rem;
}

.blennd-recent-posts .post-content .post-category:after {
  height: 1px;
  background-color: #ccc;
  display: block;
  content: '';
}

.blennd-recent-posts .post-content .post-category p {
  color: #ccc;
  font-size: 0.85rem;
  margin: 0;
}

.blennd-recent-posts .post-content .post-title h4 {
  font-size: 1.25rem;
}

.blennd-recent-posts .post-content .post-excerpt p {
  font-size: 0.85rem;
}

.blennd-recent-posts .load-more-link {
  bottom: -50px;
  position: absolute;
}

.blennd-recent-posts .load-more-link a,
.blennd-recent-posts .post-content .read-more-link a {
  font-size: 0.85rem;
  text-decoration: none !important;
  text-transform: uppercase;
}

.blennd-recent-posts .load-more-link a:hover,
.blennd-recent-posts .post-content .read-more-link a:hover {
  cursor: pointer;
}

.blennd-recent-posts .load-more-link a.disabled {
  cursor: not-allowed;
  color: #ccc;
}

@media (min-width: 650px) {
  .blennd-recent-posts article > * {
    flex-basis: calc( 50% - 15px );
  }
}
